<div class ="container">

<h1>NewsScraper</h1>

{{#each data}}
    <div class="col-md-6">
	    <div class="news-display">
	        <div class="news-title"> 
	        	{{this.title}} 
	        	{{this.link}}
	        	
	        </div>
	    </div>
    </div>
{{/each}}

